body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#output {
    white-space: pre-wrap;
    background-color: white;
    padding: 10px;
    border: 3px solid #007BFF;
    margin-bottom: 20px;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

